
a {
	
	color: white;
	
}
body {
	background-color: lightgray;
	
}

nav {
	
	background-color: green;

}	
	
.relative {
	position: relative;
    top: 10px;
	left:300;
	width: 1000px;
	
}




.absolute {
	position: absolute;

}




.fixed {
	position: fixed;
    top: 70px;
	left: 1150px;
    width: 200px;
	height: 400px;
}